# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Raw datasets
data/

# Generated model artifacts
fraud-engine-python/models/**/*.json
fraud-engine-python/models/**/*.pkl
fraud-engine-python/models/**/*.joblib